/*.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
*/

.header-row {
	background-color: #F1F1F1;
	height: 60;
}

.google-logo {
	max-width: 92;
	max-height: 33;
}


#left-header-col {
	bottom: 0px;
    height: 60px;
    left: 0px;
    max-width: 202px;
    min-height: auto;
    min-width: 202px;
    position: relative;
    right: 0px;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 202px;
    z-index: 987;
    perspective-origin: 101px 30px;
    transform-origin: 101px 30px;
    user-select: none;
    flex: 0 0 auto;
    font: normal normal normal normal 13px / 58px Arial, sans-serif;
    overflow: hidden;
}

#left-header-col-1 {
	bottom: 2px;
    height: 58px;
    left: 0px;
    position: absolute;
    right: 50px;
    top: 14px;
    white-space: nowrap;
    width: 92px;
    perspective-origin: 76px 29px;
    transform-origin: 76px 29px;
    user-select: none;
    font: normal normal normal normal 13px / 58px Arial, sans-serif;
    padding: 0px 30px;
}

#left-header-col-2 {
    bottom: -2px;
    display: inline-block;
    height: 33px;    
    left: 0px;
    position: relative;
    right: 0px;
    top: 2px;
    vertical-align: middle;
    white-space: nowrap;
    width: 92px;
    perspective-origin: 46px 16.5px;
    transform-origin: 46px 16.5px;
    user-select: none;
    font: normal normal normal normal 13px / 58px Arial, sans-serif;
}

#left-header-span {
    background-position: 0px -762px;
    color: rgb(0, 0, 238);
    display: block;
    height: 33px;
    white-space: nowrap;
    width: 92px;
    column-rule-color: rgb(0, 0, 238);
    perspective-origin: 46px 16.5px;
    transform-origin: 46px 16.5px;
    user-select: none;
    background: rgba(0, 0, 0, 0) url("https://ssl.gstatic.com/gb/images/v2_f80843e3.png") repeat scroll 0px -762px / 92px 2541px padding-box border-box;
    border: 0px none rgb(0, 0, 238);
    font: normal normal normal normal 13px / 58px Arial, sans-serif;
    outline: rgb(0, 0, 238) none 0px;
}

.center {
    margin: auto;
    width: 50%;
    height: 50%;    
    padding: 10px;
}

#topbar {
    bottom: 0px;
    display: flex;
    height: 60px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    white-space: nowrap;
    width: auto;
    perspective-origin: 390px 30px;
    transform-origin: 390px 30px;
    user-select: none;
    background: rgb(241, 241, 241) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13px / 27px Arial, sans-serif;
}

#mid-header-col {
    bottom: 0px;
    height: 60px;
    width: 650px;
    left: 0px;
    min-height: auto;
    min-width: 220px;
    position: relative;
    right: 0px;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;    
    z-index: 986;`
    perspective-origin: 325px 30px;
    transform-origin: 325px 30px;
    user-select: none;
    flex: 0 2 auto;
    font: normal normal normal normal 13px / 58px Arial, sans-serif;
    padding-left: 0px;
}

#mid-header-col-1 {
    bottom: 0px;
    height: 60px;
    left: 0px;
    min-height: auto;
    min-width: 200px;
    position: relative;
    right: 0px;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 383px;
    z-index: 986;
    perspective-origin: 191.5px 30px;
    transform-origin: 191.5px 30px;
    user-select: none;
    flex: 0 2 auto;
    font: normal normal normal normal 13px / 58px Arial, sans-serif;
}

#mid-header-col-2 {
	position: relative;
  	top: 50%;
	transform: translateY(-50%);
	vertical-align: middle;
}

#searchfield {
  float:left;
  width:590px;
  height:30px;
  line-height:27px;
  text-indent:10px;
  font-family:arial, sans-serif;
  font-size:1em;
  color:#333;
  background: #fff;
  border:solid 1px #d9d9d9;
  border-top:solid 1px #c0c0c0;
  border-right:none;
  display:inline-block;
}

#searchsubmit {
  cursor:pointer;
  width:60px;
  height: 30px;
  line-height:0;
  font-size:0;
  text-indent:-999px;
  color: transparent;
  background:  no-repeat #4d90fe center;
  border: 1px solid #3079ED;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display:inline-block;
}

#right-header-col {
    bottom: 0px;
    display: flex;
    height: 60px;
    left: 0px;
    min-height: auto;
    min-width: 135px;
    position: relative;
    right: 0px;
    text-align: right;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 368px;
    display:block
    z-index: 986;
    align-items: center;
    justify-content: flex-end;
    order: 1;
    perspective-origin: 214px 30px;
    transform-origin: 214px 30px;
    user-select: none;
    flex: 1 1 auto;
    font: normal normal normal normal 13px / 58px Arial, sans-serif;
    padding: 0px 30px;
}

#right-header-col-1 {
	float: right;
}

#login-button {
    color: rgb(255, 255, 255);
    cursor: default;
    display: inline-block;
    height: 28px;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    width: 70px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 34.6719px 15px;
    transform-origin: 34.6719px 15px;
    user-select: none;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(66, 133, 244);
    border-radius: 2px 2px 2px 2px;
    font: normal normal bold normal 13px / 28px arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 12px;
}

.headerdos {
	background-color: white;
	height: 45px;
	width: 100%;
	display: block;
	margin-top: 60px;
}

.gmail-row {
	border: 1px solid #ddd;	
	border-left: 0px;
	border-right: 0px;
	background: white;
	height: 50px;
	padding-top: 4px;
}

#gmail-drop {
    bottom: 0px;
    color: rgb(221, 75, 57);
    cursor: pointer;
    display: inline-block;
    height: 29px;
    left: 0px;
    position: relative;
    float: left;
    right: 0px;
    top: 0px;
    width: 61.7344px;
    z-index: 5;
    column-rule-color: rgb(221, 75, 57);
    perspective-origin: 37.8594px 14.5px;
    transform-origin: 37.8594px 14.5px;
    user-select: none;
    border: 0px none rgb(221, 75, 57);
    font: normal normal normal normal 18.6667px / 29px arial, sans-serif;
    outline: rgb(221, 75, 57) none 0px;
    padding: 0px;
}

#gmail-drop-span {
    color: rgb(221, 75, 57);
    cursor: pointer;
    column-rule-color: rgb(221, 75, 57);
    user-select: none;
    border: 0px none rgb(221, 75, 57);
    font: normal normal normal normal 18.6667px / 29px arial, sans-serif;
    outline: rgb(221, 75, 57) none 0px;    
    float: right;
}

#gmail-drop-btn {
    bottom: -14.5px;
    color: rgb(221, 75, 57);
    cursor: pointer;
    display: inline-block;
    height: 5px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 14.5px;
    vertical-align: middle;
    width: 7px;
    column-rule-color: rgb(221, 75, 57);
    perspective-origin: 3.5px 2.5px;
    transform-origin: 3.5px 2.5px;
    user-select: none;
    background: rgba(0, 0, 0, 0) url("https://ssl.gstatic.com/ui/v1/zippy/arrow_down_red_2x.png") no-repeat scroll 0% 0% / 7px 4px padding-box border-box;
    border: 0px none rgb(221, 75, 57);
    font: normal normal normal normal 0px / 29px arial, sans-serif;
    margin: -2px 0px 0px 6px;
    outline: rgb(221, 75, 57) none 0px;
}

#left-gmail-col {
	height: 50px;
	width: 202px;	
	display: inline-block;
	float: left;
}

#gmail-drop-block {
	width: 75.73px;
	height: 30px;
	margin-left: 20px;
	margin-top: 3px;
}

#mid-gmail-col {
	display: inline-block;
}

.mid-action-items {
	margin-top: 5px;	
}

.mid-action-item {
	display: inline-block;
	float: left;
}

.mid-action-col {
    bottom: 0px;
    display: inline-block;
    height: 29px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    white-space: nowrap;
    width: 88px;
    perspective-origin: 44px 14.5px;
    transform-origin: 44px 14.5px;
    font: normal normal normal normal 16px / normal arial, sans-serif;
}

#refresh-item {
    bottom: 0px;
    color: rgb(68, 68, 68);
    cursor: default;
    display: inline-block;
    height: 29px;
    left: 0px;
    min-width: 54px;
    position: relative;
    right: 0px;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 72px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 36px 14.5px;
    transform-origin: 36px 14.5px;
    user-select: none;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0.0980392);
    border-radius: 2px 2px 2px 2px;
    font: normal normal bold normal 11px / 27px arial, sans-serif;
    margin: 0px 16px 0px 0px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 8px;
}

#refresh-item-1 {
    color: rgb(68, 68, 68);
    cursor: default;
    display: inline-block;
    height: 29px;
    text-align: center;
    white-space: nowrap;
    width: 33px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 16.5px 13.5px;
    transform-origin: 16.5px 13.5px;
    user-select: none;
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 11px / 27px arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}

#refresh-item-2 {
    background-position: 0px -124px;
    bottom: 0px;
    color: rgb(68, 68, 68);
    cursor: default;
    display: inline-block;
    height: 21px;
    left: 0px;
    opacity: 0.55;
    position: relative;
    right: 0px;
    text-align: center;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 21px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 10.5px 10.5px;
    transform-origin: 10.5px 10.5px;
    user-select: none;
    background: rgba(0, 0, 0, 0) url("https://ssl.gstatic.com/mail/sprites/general_2x_black-b568fe8c9e825d95d0a5f98bfdf32c66.png") no-repeat scroll 0px -124px / 21px 559px padding-box border-box;
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 11px / 27px arial, sans-serif;
    margin: 3.5px 6px;
    outline: rgb(68, 68, 68) none 0px;
}

#multi-select-item {
    bottom: 0px;
    color: rgb(68, 68, 68);
    cursor: default;
    display: inline-block;
    height: 27px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 28px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 14px 13.5px;
    transform-origin: 14px 13.5px;
    user-select: none;
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 11px / 27px arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}

#multi-select-box {
    bottom: 0px;
    color: rgb(68, 68, 68);
    cursor: default;
    display: inline-block;
    height: 14px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    top: 0px;
    unicode-bidi: isolate;
    vertical-align: text-bottom;
    white-space: nowrap;
    width: 14px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 6.5px 6.5px;
    transform-origin: 6.5px 6.5px;
    user-select: none;
    background: rgba(255, 255, 255, 0.0470588) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(155, 155, 155, 0.568627);
    font: normal normal bold normal 1px / 27px arial, sans-serif;
    margin: 0px 4px 0px 1px;
    outline: rgb(68, 68, 68) none 0px;
}


#multi-select-dropdown {
    background-position: 0px 1px;
    bottom: 0px;
    color: rgb(68, 68, 68);
    cursor: default;
    display: inline-block;
    height: 6px;
    left: 0px;
    opacity: 0.55;
    position: relative;
    right: 0px;
    text-align: center;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 7px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 3.5px 3px;
    transform-origin: 3.5px 3px;
    user-select: none;
    background: rgba(0, 0, 0, 0) url("https://ssl.gstatic.com/ui/v1/zippy/arrow_down_2x.png") no-repeat scroll 0px 1px / 7px 4px padding-box border-box;
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 0px / 27px arial, sans-serif;
    margin: -3px 0px 0px 3px;
    outline: rgb(68, 68, 68) none 0px;
}

#multi-select-item-1 {
	margin-top: 6px;
}

#more-item {
    bottom: 0px;
    color: rgb(68, 68, 68);
    cursor: default;
    display: inline-block;
    height: 27px;
    left: 0px;
    min-width: 54px;
    position: relative;
    right: 0px;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 54px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 36px 14.5px;
    transform-origin: 36px 14.5px;
    user-select: none;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241)) repeat scroll 0% 0% / auto padding-box border-box;    
    border-radius: 2px 2px 2px 2px;
    font: normal normal bold normal 11px / 27px arial, sans-serif;
    margin: 0px 16px 0px 0px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 8px;
}

#more-item-1 {
    color: rgb(68, 68, 68);
    cursor: default;
    text-align: center;
    white-space: nowrap;
    column-rule-color: rgb(68, 68, 68);
    user-select: none;
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 11px / 27px arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}

#more-item-2 {
    background-position: 0px 1px;
    bottom: 0px;
    color: rgb(68, 68, 68);
    cursor: default;
    display: inline-block;
    height: 6px;
    left: 0px;
    opacity: 0.55;
    position: relative;
    right: 0px;
    text-align: center;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 7px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 3.5px 3px;
    transform-origin: 3.5px 3px;
    user-select: none;
    background: rgba(0, 0, 0, 0) url("https://ssl.gstatic.com/ui/v1/zippy/arrow_down_2x.png") no-repeat scroll 0px 1px / 7px 4px padding-box border-box;
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 0px / 27px arial, sans-serif;
    margin: -3px 0px 0px 3px;
    outline: rgb(68, 68, 68) none 0px;
}

#DIV_1 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 60px;
    left: 0px;
    min-height: auto;
    min-width: 200px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 294.281px;
    z-index: 986;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 147.141px 30px;
    transform-origin: 325px 30px;
    user-select: none;
    border: 0px none rgb(51, 51, 51);
    flex: 0 2 auto;
    font: normal normal normal normal 13px / 58px Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1*/

#DIV_2 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 60px;
    left: 0px;
    min-width: 200px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 383px;
    z-index: 986;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 191.5px 30px;
    transform-origin: 191.5px 30px;
    user-select: none;
    border: 0px none rgb(51, 51, 51);
    flex: 0 2 auto;
    font: normal normal normal normal 13px / 58px Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2*/

#DIV_3 {
    bottom: -30px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 30px;
    left: 0px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 30px;
    vertical-align: middle;
    white-space: nowrap;
    width: 383px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 191.5px 15px;
    transform: matrix(1, 0, 0, 1, 0, -15);
    transform-origin: 191.5px 15px;
    user-select: none;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px / 58px Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_3*/

#FORM_4 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 30px;
    text-size-adjust: 100%;
    white-space: nowrap;
    width: 383px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 191.5px 15px;
    transform-origin: 191.5px 15px;
    user-select: none;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px / 58px Arial, sans-serif;
    margin: 0px 0px 13px;
    outline: rgb(51, 51, 51) none 0px;
}/*#FORM_4*/

#INPUT_5 {
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 30px;
    text-indent: 10px;
    text-size-adjust: 100%;
    white-space: nowrap;
    width: 590px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 295px 15px;
    transform-origin: 295px 15px;
    border-top: 1px solid rgb(192, 192, 192);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(217, 217, 217);
    border-left: 1px solid rgb(217, 217, 217);
    font: normal normal normal normal 13px / 27px arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}

#IMG_6 {
    background-position: 50% 50%;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 30px;
    text-indent: -999px;
    text-size-adjust: 100%;
    vertical-align: middle;
    white-space: nowrap;
    width: 60px;
    column-rule-color: rgba(0, 0, 0, 0);
    perspective-origin: 30px 15px;
    transform-origin: 30px 15px;
    user-select: none;
    background: rgb(77, 144, 254) none no-repeat scroll 50% 50% / auto padding-box border-box;
    border: 1px solid rgb(48, 121, 237);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 0px / 0px Arial, sans-serif;
    outline: rgba(0, 0, 0, 0) none 0px;
}

